---
title: Home
---
{{#extend "layout-default"}}
  {{#content "main"}}
    <div class="preview">
      <div class="magnify-wrap">
        <div class="magnify">
          <img class="magnify-image" src="{{ data.default.preview.url }}" alt="" data-origin="{{ data.default.preview.origin }}">
        </div>
      </div>
      <div class="thumb-list">
        <ul>
          {{#each data.default.list}}
            <li class="thumb-item{{#with active}} active{{/with}}" data-url="{{ url }}" data-origin="{{ origin }}">
              <img src="{{ thumb }}" alt="">
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  {{/content}}
{{/extend}}
